#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

header {
    position: relative;
    top: 20px;
}

nav {
    font-size: 100%;
    position: fixed;
    top: 0;
    right: 13%;
    left: auto;
    height: auto;
}

body {
    color:#0a3504;
    position: fixed;
    top: auto;
    left: auto;
    max-width: 50%;
    float: left;
    margin: 1em;
}

h1 {
    color: #0a3504;
    font-weight: 700;
    font-family: Helvetica, Helvetica, sans-serif;
    position: fixed;
    top: 15%;
    left: 15%;
    right: auto;
    
}

ol {
    list-style-type: none;
    display: inline-block;
    margin: 10;
    padding: 10;
   
}

li {
    display: inline-block;
    font-weight: 500;
    margin-right: 0px;
}

li a {
    display: inline-block;
    color: #0a3504;
    padding: 20px 20px;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
    right: 20px;
}

li :visited {
        color: #0a3504;
}

main {
    background: #ffffff;
    display: block;
    text-align: left;
    font-family: arial, Helvetica, sans-serif;
    position: fixed;
    top: 25%;
    left: 15%;
    right: 15%;
    padding-bottom: 5%;
    overflow-y: auto;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #b69321;

}

#cover {
    max-width: 100%;
    max-height: auto;
    top: 0%;
    left: 0;
}

#purpleFlower {
    max-width: 50%;
    float: left;
    margin: 1em;
}

p {
    letter-spacing: 0.25;
}

#growingImage1 {
    max-width: 50%;
    display: block;
    margin: 1em;
    position: relative;
}

#harvesting1 {
    max-width: 50%;
    display: block;
    margin: 1em;
    position: relative;
}

#harvesting2 {
    max-width: 50%;
    display: block;
    margin: 1em;
    position: relative;
}

#aboutImage {
    max-width: 100%;
    display: block;
    margin: 1em;
    position: relative;  
}

h2 {
    position: sticky;
    display: grid;
    color: #fff;
    font-size: 100px;
    text-align: left;
    top: 155px;
}

a:hover {
    color: rgba(255, 166, 0, 0.692);
}

a {
    color: #fff;
    text-decoration: none;
}
