@font-face {
    font-family: 'Playfair Display', serif;
    src: url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);
}

header {
    font-weight: 100;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

 #mainVideos {
    position: absolute;
    top: 350px;
    bottom: auto;
    overflow-y: visible;
    overflow-x: hidden;
  }

nav {
    font-size: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: auto;
    font-weight: 500;
}

hr {width: 80%;height: 8px;margin-left: auto;margin-right: auto;background-color:#fff;border: 0 none;margin-top: 100px;margin-bottom:100px;}

body {
    color:#ffffff;
    background-color: rgba(17, 17, 17, 0.253);
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 100%;
    overflow-y: visible;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}


#first-things-photo {
    position: static;
    width: 3840px;
    height: 2160px;
}


h1 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    position: fixed;
    left: 100px;
    top: 100px;
    right: auto;
}

ol {
    list-style-type: none;
    display: inline-block;
    margin: 20;
    padding: 10;
   
}

li {
    display: inline-block;
    margin-right: 0px;
}

li a {
    display: inline-block;
    color: #fff;
    padding: 20px 20px;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
    right: 20px;
}

li :visited {
    color: #fff;
}

#ftf-main {
    background: #00000098;
    display: block;
    text-align: left;
    position: absolute;
    max-width: 75%;
    top: 300px;
    left: 15%;
    right: 15%;
    padding-bottom: 10px;
    padding: 1em;
    overflow-y: auto;
    font-size: 25px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #b69321;

}

#cover {
    max-width: 100%;
    max-height: auto;
    top: 0%;
    left: 0;
}

#purpleFlower {
    max-width: 50%;
    float: left;
    margin: 1em;
}

p {
    letter-spacing: 0.25;
}

#growingImage1 {
    max-width: 50%;
    display: block;
    margin: 1em;
    position: relative;
}

#harvesting1 {
    max-width: 50%;
    display: block;
    margin: 1em;
    position: relative;
}

#harvesting2 {
    max-width: 50%;
    display: block;
    margin: 1em;
    position: relative;
}

#aboutImage {
    max-width: 100%;
    display: block;
    margin: 1em;
    position: relative;  
}

h2 {
    position: absolute;
    display: inline-grid;
    color: #fff;
    font-size: 90px;
    left: 50%;
    top: 150px;
}

a:hover {
    color: rgba(255, 166, 0, 0.692);
}

a {
    color: #fff;
    text-decoration: none;
}

#front {
    position: absolute;
    left: 500px;
    top: 350px;;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    padding: 10px;
}

#landing-text-box {
    position: absolute;
    left: 300px;
    right: 300px;
}
 